<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Music_Player.music_player"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.Music_Player.music_player.controller.Artist"
            android:label="@string/title_activity_artist" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Music_Player.music_player.controller.Album"
            android:label="@string/title_activity_album" >
        </activity>
        <activity
            android:name="com.Music_Player.music_player.controller.Track"
            android:label="@string/title_activity_track" >
        </activity>
    </application>

</manifest>
